Nombre: Andrés Mauricio Osorio Arizabaleta

In [212]:
import pandas as pd
df = pd.read_csv("data/WHO.csv")
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

1) ¿Cuál és la media de la población urbana (“Urban_population”) de todos los países? ¿Su desviación típica (std)?

In [14]:
UrbanPop = df["Urban_population"]
print("La media de la población urbana de todos los paises es " + str(UrbanPop.mean()))
print("La desviación estandar de la población urbana de todos los paises es " + str(UrbanPop.std()))

La media de la población urbana de todos los paises es 16657626.767446807
La desviación estandar de la población urbana de todos los paises es 50948665.823935635

2) Consulta la fila del país: “Spain”

In [16]:
Paises = df["Country"]
Espanya = df[Paises == "Spain"]
Espanya

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.9,4.2,4.9,33300000.0,1.75,76.7

3a) ¿Qué país tiene una mayor población urbana?

In [25]:
UrbanPop = df["Urban_population"]
mayorUrbanPopFila = df[UrbanPop == UrbanPop.max()]
mayorUrbanPopPais = mayorUrbanPopFila["Country"].values[0]
mayorUrbanPopPais
print("El pais con la mayor población urbana es "+mayorUrbanPopPais)

El pais con la mayor población urbana es China

3b) ¿Qué paises tienen una población urbana menor a 50000 ?

In [33]:
UrbanPop = df["Urban_population"]
UrbanPopMenorA50000 = df[UrbanPop < 50000]
UrbanPopMenorA50000Paises = UrbanPopMenorA50000["Country"].values

i = 0
print("Los paises que tienen una población urbana menor a 50000 son: ")
while i < len(UrbanPopMenorA50000Paises):
    print(UrbanPopMenorA50000Paises[i])
    i = i+1

Los paises que tienen una población urbana menor a 50000 son:
Antigua and Barbuda
Grenada
Kiribati
Saint Kitts and Nevis
Saint Lucia
Samoa
Seychelles
Tonga

4) ¿El continente donde está situado Spain es el mismo que el de `United States of America? Utiliza una condición para obtener un resultado Booleano (True o False)

In [224]:
Paises = df["Country"]
Espanya = df[Paises == "Spain"]
USA = df[Paises == "United States of America"]
EspanyaContinente = Espanya["Continent"].values[0]
USAContinente = USA["Continent"].values[0]
bool = True
if EspanyaContinente != USAContinente:
    bool = False

print("Spain está situado en el continente "+ str(EspanyaContinente))
print("United States of America está situado en el continente "+ str(USAContinente))
print("Por ende la afirmación de que el continente donde está situado Spain es el mismo que el de United States of America es "+str(bool))

Spain está situado en el continente Europa
United States of America está situado en el continente América del Norte
Por ende la afirmación de que el continente donde está situado Spain es el mismo que el de United States of America es False

5) ¿Cuáles son los cinco paises más contaminantes (“Total_CO2_emissions”)?

In [159]:
Paises = df["Country"]
Emision = df["Total_CO2_emissions"]
EmisionEnOrden = Emision.sort_values(ascending = False)
MayorEmision = EmisionEnOrden.head(5)
a = MayorEmision.index[0]
b = MayorEmision.index[1]
c = MayorEmision.index[2]
d = MayorEmision.index[3]
e = MayorEmision.index[4]

a2 = Paises[Paises.index == a].values[0]
b2= Paises[Paises.index == b].values[0]
c2= Paises[Paises.index == c].values[0]
d2= Paises[Paises.index == d].values[0]
e2= Paises[Paises.index == e].values[0]

print("Los 5 paises mas contaminantes son: ")

print(a2)
print(b2)
print(c2)
print(d2)
print(e2)

Los 5 paises mas contaminantes son:
United States of America
China
Russia
India
Japan

6) Observando algunas muestras del fichero puedes establecer la relación entre el identificador del continente y su nombre?

Es decir, sabemos que Spain está en el continente Europeo y el código del continente es el 2.

Existen los códigos de continentes: 1, 2, 3, 4, 5, 6, 7

Nota: Hay dos códigos asociados a Asia.

Haz las consultas pertinentes al dataframe para construir un diccionario con la siguiente estructura:

codigoContinentes = {1:"Asia",2:"Europa"} #Al menos hay 7!
print(codigoContinentes[2])
codigoContinentes[3] = ""
codigoContinentes[4] = ""
codigoContinentes[5] = ""
codigoContinentes[6] = ""
codigoContinentes[7] = ""

In [123]:
Continent = df["Continent"]
Continent1 = df[Continent==1]
print(Continent1["Country"].values, end="\n\n")

Continent2 = df[Continent==2]
print(Continent2["Country"].values, end="\n\n")

Continent3 = df[Continent==3]
print(Continent3["Country"].values, end="\n\n")

Continent4 = df[Continent==4]
print(Continent4["Country"].values, end="\n\n")

Continent5 = df[Continent==5]
print(Continent5["Country"].values, end="\n\n")

Continent6 = df[Continent==6]
print(Continent6["Country"].values, end="\n\n")

Continent7 = df[Continent==7]
print(Continent7["Country"].values, end="\n\n")

codigoContinentes = {1:"Mundo Árabe (Medio Oriente)",2:"Europa",3:"África subsahariana",4:"América del Norte",5:"América Central y del Sur",6:"Asia Oriental y Oceanía",7:"Sur de Asia"}

print(codigoContinentes,end="\n\n")

print(codigoContinentes[1])
print(codigoContinentes[2])
print(codigoContinentes[3])
print(codigoContinentes[4])
print(codigoContinentes[5])
print(codigoContinentes[6])
print(codigoContinentes[7])

['Afghanistan' 'Bahrain' 'Cape Verde' 'Djibouti' 'Egypt'
 'Iran (Islamic Republic of)' 'Iraq' 'Israel' 'Jordan' 'Kuwait'
 'Libyan Arab Jamahiriya' 'Malta' 'Morocco' 'Oman' 'Qatar' 'Saudi Arabia'
 'Syria' 'Tunisia' 'United Arab Emirates' 'West Bank and Gaza' 'Yemen']

['Albania' 'Andorra' 'Armenia' 'Austria' 'Azerbaijan' 'Belarus' 'Belgium'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Cyprus' 'Czech Republic'
 'Denmark' 'Estonia' 'Finland' 'France' 'Georgia' 'Germany' 'Greece'
 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Kazakhstan' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Moldova' 'Monaco' 'Montenegro'
 'Netherlands' 'Norway' 'Poland' 'Portugal' 'Romania' 'Russia'
 'San Marino' 'Serbia' 'Slovakia' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Tajikistan' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Kingdom' 'Uzbekistan']

['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Central African Republic' 'Chad' 'Comoros' 'Congo, Dem. Rep.'
 'Congo, Rep.' "Cote d'Ivoire" 'Equatorial Guinea' 'Eritrea' 'Ethiopia'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lebanon'
 'Lesotho' 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'Somalia' 'South Africa' 'Sudan'
 'Swaziland' 'Tanzania' 'Togo' 'Uganda' 'Zambia' 'Zimbabwe']

['Antigua and Barbuda' 'Bahamas' 'Barbados' 'Bermuda' 'Canada' 'Mexico'
 'United States of America']

['Argentina' 'Belize' 'Bolivia' 'Brazil' 'Chile' 'Colombia' 'Costa Rica'
 'Cuba' 'Dominica' 'Dominican Republic' 'Ecuador' 'El Salvador' 'Grenada'
 'Guatemala' 'Guyana' 'Haiti' 'Honduras' 'Jamaica' 'Netherlands Antilles'
 'Nicaragua' 'Panama' 'Paraguay' 'Peru' 'Puerto Rico'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Suriname' 'Trinidad and Tobago' 'Uruguay' 'Venezuela']

['Australia' 'Brunei Darussalam' 'Cook Islands' 'Fiji' 'French Polynesia'
 'Hong Kong, China' 'Indonesia' 'Japan' 'Kiribati' 'Korea, Dem. Rep.'
 'Korea, Rep.' "Lao People's Democratic Republic" 'Macao, China'
 'Malaysia' 'Marshall Islands' 'Micronesia (Federated States of)'
 'Mongolia' 'Myanmar' 'Nauru' 'New Caledonia' 'New Zealand' 'Niue' 'Palau'
 'Papua New Guinea' 'Philippines' 'Samoa' 'Singapore' 'Solomon Islands'
 'Taiwan' 'Thailand' 'Timor-Leste' 'Tonga' 'Tuvalu' 'Vanuatu' 'Vietnam']

['Bangladesh' 'Bhutan' 'Cambodia' 'China' 'India' 'Maldives' 'Nepal'
 'Pakistan' 'Sri Lanka']

{1: 'Mundo Árabe (Medio Oriente)', 2: 'Europa', 3: 'África subsahariana', 4: 'América del Norte', 5: 'América Central y del Sur', 6: 'Asia Oriental y Oceanía', 7: 'Sur de Asia'}

Mundo Árabe (Medio Oriente)
Europa
África subsahariana
América del Norte
América Central y del Sur
Asia Oriental y Oceanía
Sur de Asia

7) Una vez identificado el nombre de los continentes, ¿puedes cambiar la columna de identificadores de continentes por sus respectivos nombres?

In [225]:
Continentes = df["Continent"]
codigoContinentes = {1:"Mundo Árabe o Medio Oriente",2:"Europa",3:"África subsahariana",4:"América del Norte",5:"América Central y del Sur",6:"Asia Oriental y Oceanía",7:"Sur de Asia"}

df2 = df





df2.loc[0,"Continent"]
i = 0
while i < 202:
    if(df2.loc[i,"Continent"]==1):
        df2.at[i, 'Continent'] = codigoContinentes[1]
    elif(df2.loc[i,"Continent"]==2):
        df2.at[i, 'Continent'] = codigoContinentes[2]
    elif(df2.loc[i,"Continent"]==3):
        df2.at[i, 'Continent'] = codigoContinentes[3]
    elif(df2.loc[i,"Continent"]==4):
        df2.at[i, 'Continent'] = codigoContinentes[4]
    elif(df2.loc[i,"Continent"]==5):
        df2.at[i, 'Continent'] = codigoContinentes[5]
    elif(df2.loc[i,"Continent"]==6):
        df2.at[i, 'Continent'] = codigoContinentes[6]
    elif(df2.loc[i,"Continent"]==7):
        df2.at[i, 'Continent'] = codigoContinentes[7]
        
        
    i = i+1
    
print(df2["Continent"].values)
df2.head(20)

['Mundo Árabe (Medio Oriente)' 'Europa' 'África subsahariana' 'Europa'
 'África subsahariana' 'América del Norte' 'América Central y del Sur'
 'Europa' 'Asia Oriental y Oceanía' 'Europa' 'Europa' 'América del Norte'
 'Mundo Árabe (Medio Oriente)' 'Sur de Asia' 'América del Norte' 'Europa'
 'Europa' 'América Central y del Sur' 'África subsahariana'
 'América del Norte' 'Sur de Asia' 'América Central y del Sur' 'Europa'
 'África subsahariana' 'América Central y del Sur'
 'Asia Oriental y Oceanía' 'Europa' 'África subsahariana'
 'África subsahariana' 'Sur de Asia' 'África subsahariana'
 'América del Norte' 'Mundo Árabe (Medio Oriente)' 'África subsahariana'
 'África subsahariana' 'América Central y del Sur' 'Sur de Asia'
 'América Central y del Sur' 'África subsahariana' 'África subsahariana'
 'África subsahariana' 'Asia Oriental y Oceanía'
 'América Central y del Sur' 'África subsahariana' 'Europa'
 'América Central y del Sur' 'Europa' 'Europa' 'Europa'
 'Mundo Árabe (Medio Oriente)' 'América Central y del Sur'
 'América Central y del Sur' 'América Central y del Sur'
 'Mundo Árabe (Medio Oriente)' 'América Central y del Sur'
 'África subsahariana' 'África subsahariana' 'Europa'
 'África subsahariana' 'Asia Oriental y Oceanía' 'Europa' 'Europa'
 'Asia Oriental y Oceanía' 'África subsahariana' 'África subsahariana'
 'Europa' 'Europa' 'África subsahariana' 'Europa'
 'América Central y del Sur' 'América Central y del Sur'
 'África subsahariana' 'África subsahariana' 'América Central y del Sur'
 'América Central y del Sur' 'América Central y del Sur'
 'Asia Oriental y Oceanía' 'Europa' 'Europa' 'Sur de Asia'
 'Asia Oriental y Oceanía' 'Mundo Árabe (Medio Oriente)'
 'Mundo Árabe (Medio Oriente)' 'Europa' 'Mundo Árabe (Medio Oriente)'
 'Europa' 'América Central y del Sur' 'Asia Oriental y Oceanía'
 'Mundo Árabe (Medio Oriente)' 'Europa' 'África subsahariana'
 'Asia Oriental y Oceanía' 'Asia Oriental y Oceanía'
 'Asia Oriental y Oceanía' 'Mundo Árabe (Medio Oriente)' 'Europa'
 'Asia Oriental y Oceanía' 'Europa' 'África subsahariana'
 'África subsahariana' 'África subsahariana' 'Mundo Árabe (Medio Oriente)'
 'Europa' 'Europa' 'Asia Oriental y Oceanía' 'Europa'
 'África subsahariana' 'África subsahariana' 'Asia Oriental y Oceanía'
 'Sur de Asia' 'África subsahariana' 'Mundo Árabe (Medio Oriente)'
 'Asia Oriental y Oceanía' 'África subsahariana' 'África subsahariana'
 'América del Norte' 'Asia Oriental y Oceanía' 'Europa' 'Europa'
 'Asia Oriental y Oceanía' 'Europa' 'Mundo Árabe (Medio Oriente)'
 'África subsahariana' 'Asia Oriental y Oceanía' 'África subsahariana'
 'Asia Oriental y Oceanía' 'Sur de Asia' 'Europa'
 'América Central y del Sur' 'Asia Oriental y Oceanía'
 'Asia Oriental y Oceanía' 'América Central y del Sur'
 'África subsahariana' 'África subsahariana' 'Asia Oriental y Oceanía'
 'Europa' 'Mundo Árabe (Medio Oriente)' 'Sur de Asia'
 'Asia Oriental y Oceanía' 'América Central y del Sur'
 'Asia Oriental y Oceanía' 'América Central y del Sur'
 'América Central y del Sur' 'Asia Oriental y Oceanía' 'Europa' 'Europa'
 'América Central y del Sur' 'Mundo Árabe (Medio Oriente)' 'Europa'
 'Europa' 'África subsahariana' 'América Central y del Sur'
 'América Central y del Sur' 'América Central y del Sur'
 'Asia Oriental y Oceanía' 'Europa' 'África subsahariana'
 'Mundo Árabe (Medio Oriente)' 'África subsahariana' 'Europa'
 'África subsahariana' 'África subsahariana' 'Asia Oriental y Oceanía'
 'Europa' 'Europa' 'Asia Oriental y Oceanía' 'África subsahariana'
 'África subsahariana' 'Europa' 'Sur de Asia' 'África subsahariana'
 'América Central y del Sur' 'África subsahariana' 'Europa' 'Europa'
 'Mundo Árabe (Medio Oriente)' 'Asia Oriental y Oceanía' 'Europa'
 'África subsahariana' 'Asia Oriental y Oceanía' 'Asia Oriental y Oceanía'
 'África subsahariana' 'Asia Oriental y Oceanía'
 'América Central y del Sur' 'Mundo Árabe (Medio Oriente)' 'Europa'
 'Europa' 'Asia Oriental y Oceanía' 'África subsahariana' 'Europa'
 'Mundo Árabe (Medio Oriente)' 'Europa' 'América del Norte'
 'América Central y del Sur' 'Europa' 'Asia Oriental y Oceanía'
 'América Central y del Sur' 'Asia Oriental y Oceanía'
 'Mundo Árabe (Medio Oriente)' 'Mundo Árabe (Medio Oriente)'
 'África subsahariana' 'África subsahariana']

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,Mundo Árabe (Medio Oriente),151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.00,5.44,22.9
1,Albania,2,Europa,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.90,2.21,45.4
2,Algeria,3,África subsahariana,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.00,2.61,63.3
3,Andorra,4,Europa,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,África subsahariana,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.00,4.14,53.3
5,Antigua and Barbuda,6,América del Norte,NaN,NaN,15130.0,NaN,NaN,84.0,1.3,...,421.36,8.300000e+08,NaN,-1.020000e+08,12.60,NaN,12.60,32468.25,2.25,39.1
6,Argentina,7,América Central y del Sur,62.0,97.2,11670.0,98.0,99.0,39134.0,1.0,...,152711.86,3.140000e+11,21.11,1.190000e+10,18.10,16.7,18.10,34900000.00,1.17,90.1
7,Armenia,8,Europa,30.0,99.4,4950.0,84.0,80.0,3010.0,-0.3,...,4345.50,3.400000e+09,35.98,-6.470000e+08,28.80,27.7,28.80,1934320.80,-0.62,64.1
8,Australia,9,Asia Oriental y Oceanía,16.0,NaN,33940.0,97.0,96.0,20530.0,1.1,...,368858.53,4.680000e+11,NaN,-1.280000e+10,5.90,5.1,5.90,18000000.00,1.54,88.2
9,Austria,10,Europa,14.0,NaN,36040.0,98.0,97.0,8327.0,0.4,...,73602.43,2.090000e+11,NaN,8.240000e+09,5.10,4.3,5.10,5433978.00,0.77,66.0
10,Azerbaijan,11,Europa,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.00,63.7,50.00,4321803.00,1.26,51.5
11,Bahamas,12,América del Norte,46.0,NaN,NaN,89.0,87.0,327.0,1.2,...,2106.80,4.940000e+09,NaN,-7.410000e+08,15.80,10.2,15.80,292258.70,1.59,90.4
12,Bahrain,13,Mundo Árabe (Medio Oriente),14.0,86.5,34310.0,98.0,98.0,739.0,1.9,...,19668.35,1.060000e+10,NaN,3.210000e+09,10.96,7.0,10.96,699420.44,2.43,96.5
13,Bangladesh,14,Sur de Asia,135.0,47.5,1230.0,90.0,87.0,155991.0,1.8,...,39952.26,6.140000e+10,14.92,-4.160000e+09,72.00,76.0,72.00,38500000.00,3.34,25.1
14,Barbados,15,América del Norte,51.0,NaN,15150.0,96.0,97.0,293.0,0.3,...,1315.38,NaN,NaN,-3.080000e+08,12.20,10.8,12.20,153848.69,1.42,52.7
15,Belarus,16,Europa,22.0,99.6,9700.0,88.0,90.0,9742.0,-0.5,...,63299.27,1.830000e+10,28.31,2.090000e+08,15.10,10.3,15.10,7057977.00,0.11,72.2
16,Belgium,17,Europa,5.0,NaN,33860.0,97.0,97.0,10430.0,0.3,...,102599.33,2.490000e+11,NaN,1.070000e+10,5.00,4.8,5.00,10200000.00,0.57,97.2
17,Belize,18,América Central y del Sur,90.0,70.3,7080.0,97.0,97.0,282.0,2.2,...,817.07,1.080000e+09,7.11,-9.910000e+07,26.70,15.7,26.70,140939.40,3.45,48.3
18,Benin,19,África subsahariana,108.0,34.7,1250.0,73.0,87.0,8760.0,3.1,...,2564.80,2.730000e+09,35.41,-3.730000e+08,132.00,133.6,132.00,3404610.80,4.04,40.1
19,Bermuda,20,América del Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,571.58,NaN,NaN,NaN,NaN,NaN,NaN,63570.00,0.39,100.0

8) Puedes crear un nuevo dataframe con aquellos paises que sean de Europa?

In [140]:
df2 = df
Continentes = df2["Continent"]
Europa = df[Continent==2]
Europa

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1.431794e+06,2.21,45.4
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0,-0.3,...,4345.50,3.400000e+09,35.98,-6.470000e+08,28.80,27.7,28.80,1.934321e+06,-0.62,64.1
9,Austria,10,2,14.0,NaN,36040.0,98.0,97.0,8327.0,0.4,...,73602.43,2.090000e+11,NaN,8.240000e+09,5.10,4.3,5.10,5.433978e+06,0.77,66.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0,0.6,...,36629.01,9.930000e+09,64.89,1.330000e+09,50.00,63.7,50.00,4.321803e+06,1.26,51.5
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0,-0.5,...,63299.27,1.830000e+10,28.31,2.090000e+08,15.10,10.3,15.10,7.057977e+06,0.11,72.2
16,Belgium,17,2,5.0,NaN,33860.0,97.0,97.0,10430.0,0.3,...,102599.33,2.490000e+11,NaN,1.070000e+10,5.00,4.8,5.00,1.020000e+07,0.57,97.2
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0,0.3,...,26274.55,6.440000e+09,47.80,-4.460000e+09,15.40,8.4,15.40,1.789264e+06,1.35,45.7
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0,-0.7,...,44422.34,1.640000e+10,55.40,-4.450000e+09,14.30,15.2,14.30,5.418000e+06,-0.21,70.0
44,Croatia,45,2,14.0,98.1,13850.0,90.0,91.0,4556.0,0.1,...,22878.02,2.320000e+10,28.90,-2.830000e+09,7.10,6.9,7.10,2.510493e+06,0.33,56.5
46,Cyprus,47,2,5.0,96.8,25060.0,99.0,99.0,846.0,1.1,...,7016.56,1.030000e+10,NaN,-4.530000e+08,5.20,5.0,5.20,5.251554e+05,2.61,69.3
47,Czech Republic,48,2,11.0,NaN,20920.0,94.0,91.0,10189.0,0.0,...,119691.89,6.780000e+10,NaN,4.050000e+09,4.50,4.0,4.50,7.522058e+06,0.13,73.5
48,Denmark,49,2,6.0,NaN,36190.0,96.0,95.0,5430.0,0.2,...,46078.47,1.710000e+11,NaN,1.380000e+10,5.20,4.8,5.20,4.636077e+06,0.39,85.6
57,Estonia,58,2,21.0,99.8,18090.0,94.0,95.0,1340.0,-0.3,...,18202.75,8.360000e+09,NaN,-8.450000e+08,7.80,8.2,7.80,9.301551e+05,-0.30,69.1
60,Finland,61,2,11.0,NaN,33170.0,97.0,97.0,5261.0,0.3,...,53160.98,1.350000e+11,NaN,1.140000e+10,3.80,3.4,3.80,3.205367e+06,0.34,61.1
61,France,62,2,8.0,NaN,32240.0,99.0,98.0,61330.0,0.6,...,377692.44,1.430000e+12,NaN,-1.530000e+10,4.80,4.4,4.80,4.670000e+07,0.81,76.7
65,Georgia,66,2,47.0,NaN,3880.0,91.0,88.0,4433.0,-0.9,...,4785.18,4.340000e+09,25.22,-1.130000e+09,32.10,37.7,32.10,2.335120e+06,-1.16,52.2
66,Germany,67,2,11.0,NaN,32680.0,98.0,98.0,82641.0,0.0,...,783982.44,1.970000e+12,NaN,1.390000e+11,4.90,4.3,4.90,6.200000e+07,-0.03,75.2
68,Greece,69,2,11.0,96.0,30870.0,99.0,100.0,11123.0,0.2,...,95359.27,1.420000e+11,NaN,-1.510000e+10,4.90,4.9,4.90,6.551360e+06,0.45,59.0
77,Hungary,78,2,21.0,NaN,16970.0,88.0,89.0,10058.0,-0.3,...,56370.64,5.930000e+10,28.14,-8.870000e+08,8.00,7.9,8.00,6.687714e+06,0.32,66.3
78,Iceland,79,2,16.0,NaN,33740.0,97.0,98.0,298.0,0.9,...,2183.74,1.040000e+10,NaN,-2.000000e+09,2.90,3.1,2.90,2.753840e+05,1.69,92.8
83,Ireland,84,2,19.0,NaN,34730.0,95.0,94.0,4221.0,1.9,...,42348.51,1.250000e+11,NaN,2.360000e+10,5.70,5.3,5.70,2.516256e+06,2.67,60.5
85,Italy,86,2,7.0,98.4,28970.0,98.0,99.0,58779.0,0.2,...,452108.28,1.130000e+12,NaN,-2.770000e+08,4.40,4.2,4.40,3.960000e+07,0.86,67.6
89,Kazakhstan,90,2,26.0,99.5,8700.0,90.0,90.0,15314.0,0.7,...,180924.66,3.000000e+10,16.30,5.050000e+09,36.60,34.5,36.60,8.679260e+06,1.24,57.3
95,Kyrgyzstan,96,2,27.0,98.7,1790.0,85.0,86.0,5259.0,1.1,...,5565.62,1.650000e+09,30.21,-4.550000e+08,44.10,48.3,44.10,1.841373e+06,1.21,35.8
97,Latvia,98,2,16.0,99.7,14840.0,92.0,89.0,2289.0,-0.6,...,6452.30,1.160000e+10,16.27,-2.410000e+09,11.00,13.4,11.00,1.559739e+06,-0.62,67.8
102,Lithuania,103,2,19.0,99.6,14550.0,89.0,90.0,3408.0,-0.5,...,13974.50,1.660000e+10,30.38,-1.870000e+09,9.00,8.7,9.00,2.273924e+06,-0.74,66.6
103,Luxembourg,104,2,11.0,NaN,60870.0,98.0,96.0,461.0,1.0,...,11314.43,2.380000e+10,NaN,1.210000e+10,4.30,4.0,4.30,3.781555e+05,0.51,82.8
105,Macedonia,106,2,23.0,96.1,7850.0,92.0,92.0,2036.0,0.1,...,10270.19,3.840000e+09,59.77,-1.090000e+09,16.40,10.5,16.40,1.401188e+06,1.33,68.9
117,Moldova,118,2,29.0,99.0,2660.0,88.0,88.0,3833.0,-1.1,...,8053.47,1.810000e+09,29.10,-1.210000e+09,20.60,17.6,20.60,1.810401e+06,-0.99,46.7
118,Monaco,119,2,NaN,NaN,NaN,NaN,NaN,33.0,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Montenegro,121,2,16.0,NaN,8930.0,NaN,NaN,601.0,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Netherlands,128,2,7.0,NaN,37940.0,97.0,99.0,16379.0,0.3,...,125759.47,4.030000e+11,NaN,5.320000e+10,5.70,4.5,5.70,1.310000e+07,1.09,80.2
135,Norway,136,2,8.0,NaN,50070.0,98.0,98.0,4669.0,0.6,...,52915.49,1.850000e+11,NaN,4.940000e+10,4.20,4.1,4.20,3.578434e+06,1.02,77.4
144,Poland,145,2,14.0,NaN,14250.0,96.0,96.0,38140.0,-0.1,...,302389.90,1.990000e+11,43.07,-8.540000e+08,7.70,8.1,7.70,2.370000e+07,0.09,62.1
145,Portugal,146,2,19.0,93.9,19960.0,98.0,98.0,10579.0,0.5,...,62357.62,1.160000e+11,NaN,-1.610000e+10,5.10,5.0,5.10,6.076483e+06,1.57,57.6
148,Romania,149,2,33.0,97.3,10150.0,93.0,93.0,21532.0,-0.4,...,89075.51,4.890000e+10,55.28,-1.010000e+10,18.60,26.5,18.60,1.160000e+07,-0.57,53.7
149,Russia,150,2,28.0,99.4,12740.0,91.0,91.0,143221.0,-0.5,...,1503302.50,3.500000e+11,79.57,1.040000e+11,18.30,20.5,18.30,1.040000e+08,-0.60,73.0
155,San Marino,156,2,NaN,NaN,NaN,NaN,NaN,31.0,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Serbia,160,2,24.0,NaN,9320.0,NaN,NaN,9851.0,-0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Slovakia,164,2,21.0,NaN,17060.0,92.0,92.0,5388.0,0.0,...,36640.00,2.550000e+10,64.64,-4.080000e+08,8.60,8.0,8.60,3.027494e+06,0.05,56.2
164,Slovenia,165,2,6.0,99.7,23970.0,95.0,96.0,2001.0,0.1,...,14846.53,2.290000e+10,NaN,-1.980000e+08,4.50,3.9,4.50,1.020255e+06,0.25,51.0
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.90,4.2,4.90,3.330000e+07,1.75,76.7
173,Sweden,174,2,7.0,NaN,34310.0,95.0,95.0,9078.0,0.4,...,48511.36,2.700000e+11,NaN,2.700000e+10,3.90,3.5,3.90,7.598242e+06,0.40,84.2
174,Switzerland,175,2,5.0,NaN,40840.0,89.0,89.0,7455.0,0.4,...,41165.04,2.590000e+11,NaN,2.570000e+10,5.30,4.7,5.30,5.592699e+06,1.20,75.2
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0,1.4,...,5235.86,1.530000e+09,18.28,-4.280000e+08,77.70,60.4,77.70,1.617903e+06,0.31,24.7
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0,1.3,...,247873.27,2.460000e+11,31.01,-1.830000e+10,32.60,34.1,32.60,4.850000e+07,2.05,67.3
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0,1.4,...,41634.03,2.900000e+09,57.39,-6.340000e+08,58.10,65.7,58.10,2.232969e+06,1.88,46.2
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0,-0.8,...,327129.25,4.520000e+10,58.23,6.710000e+08,23.80,13.3,23.80,3.190000e+07,-0.53,67.8
191,United Kingdom,192,2,27.0,NaN,33650.0,99.0,98.0,60512.0,0.4,...,546416.00,1.620000e+12,NaN,-8.020000e+10,6.10,5.4,6.10,5.400000e+07,0.72,89.7
194,Uzbekistan,195,2,40.0,NaN,2190.0,78.0,79.0,26981.0,1.4,...,112356.56,1.790000e+10,25.15,NaN,48.90,34.3,48.90,9.603424e+06,0.84,36.7

9) ¿Cuáles son los paises más contaminantes de Europa?

In [179]:
df2 = df
Continentes = df2["Continent"]
Europa = df[Continent==2]
Europa

Europa
PaisesE = Europa["Country"]
EmisionE = Europa["Total_CO2_emissions"]
EmisionEnOrdenE = EmisionE.sort_values(ascending = False)

EmisionEnOrdenETop5 = EmisionEnOrdenE.head(5)
a = EmisionEnOrdenETop5.index[0]
b = EmisionEnOrdenETop5.index[1]
c = EmisionEnOrdenETop5.index[2]
d = EmisionEnOrdenETop5.index[3]
e = EmisionEnOrdenETop5.index[4]

a2 = Paises[Paises.index == a].values[0]
b2= Paises[Paises.index == b].values[0]
c2= Paises[Paises.index == c].values[0]
d2= Paises[Paises.index == d].values[0]
e2= Paises[Paises.index == e].values[0]

print("Los 5 paises mas contaminantes de Europa son: ")

print(a2)
print(b2)
print(c2)
print(d2)
print(e2)

Los 5 paises mas contaminantes de Europa son:
Russia
Germany
United Kingdom
Italy
France

10) Calcula la cantidad de ayuda recibida por cada municipio en función del númeto total de habitantes.

In [180]:
import pandas as pd
import random

random.seed(0)

nombres = [f'Municipio{i}' for i in range(1, 11)]

data_municipios = {
    'Nombre': nombres,
    'Código Postal': [random.randint(10000, 99999) for _ in range(10)],
    'Población': [random.randint(1000, 50000) for _ in range(10)]  # Añadimos un atributo aleatorio, en este caso "Población"
}

df_municipios = pd.DataFrame(data_municipios)


data_ayudas = {
    'Nombre': [random.choice(nombres) for _ in range(20)],
    'Ayuda Económica (en euros)': [random.randint(1000, 10000) for _ in range(20)],
    'Número de Beneficiarios': [random.randint(10, 100) for _ in range(20)]
}

df_ayudas = pd.DataFrame(data_ayudas)

print("Dataframe de Municipios:")
print(df_municipios)

print("\nDataframe de Ayudas:")
print(df_ayudas)

Dataframe de Municipios:
        Nombre  Código Postal  Población
0   Municipio1          60494      39232
1   Municipio2          65125      15315
2   Municipio3          15306      34075
3   Municipio4          43936      10127
4   Municipio5          77013      19470
5   Municipio6          73691      10158
6   Municipio7          63075       7214
7   Municipio8          49755      41525
8   Municipio9          72468      17417
9  Municipio10          56930      35902

Dataframe de Ayudas:
         Nombre  Ayuda Económica (en euros)  Número de Beneficiarios
0   Municipio10                        9989                       72
1    Municipio3                        1230                       23
2    Municipio5                        2528                       48
3    Municipio2                        7534                       80
4    Municipio2                        1018                       47
5    Municipio6                        9086                      100
6    Municipio8                        6458                       25
7    Municipio9                        4996                       80
8    Municipio2                        6328                       52
9    Municipio6                        2031                       79
10   Municipio7                        4130                       36
11   Municipio6                        4632                       87
12  Municipio10                        4909                       80
13   Municipio4                        3334                       85
14   Municipio9                        9896                       46
15   Municipio8                        8339                       66
16   Municipio8                        2494                       21
17   Municipio9                        2318                       86
18   Municipio5                        6243                       59
19   Municipio1                        9322                       50