1) Usando el fichero WHO.csv, ¿Cuál es el volumen total de CO2 emitido por cada continente?

In [2]:
import pandas as pd
import numpy as np
import random
df = pd.read_csv("data/WHO.csv")

bycontinent = df.groupby("Continent")
co2bycontinent = bycontinent["Total_CO2_emissions"].sum()
co2bycontinent

Continent
1    1712275.15
2    6574395.81
3     801412.05
4    6739887.62
5     975690.21
6    3651036.81
7    7140179.57
Name: Total_CO2_emissions, dtype: float64

2) ¿Cuál es el número de paises por continente?

In [28]:
countriesbycontinent = bycontinent["Country"].count()
countriesbycontinent

Continent
1    21
2    51
3    48
4     7
5    31
6    35
7     9
Name: Country, dtype: int64

3) Del conjunto “who.csv” selecciona 30 paises al azar y sobre ellos calcula la media de “Net primary school enrolment ratio female (%)” agrupados por: Continente

   3b) Repite la anterior actividad pero ahora con todos los paises. ¿Sale la misma media?

In [54]:
randomvector = []
i = 0
while i < 30:
    
    randomvector.append(random.randint(0,202))
    i = i+1
randomvector

[103,
 200,
 77,
 122,
 91,
 149,
 55,
 129,
 35,
 72,
 35,
 193,
 24,
 158,
 64,
 136,
 180,
 154,
 37,
 79,
 25,
 186,
 18,
 175,
 84,
 120,
 143,
 25,
 90,
 111]

In [70]:
dfsample = df.sample(n=30)
bycontinentsample = dfsample.groupby("Continent")
femalemeanbycontinentsample = bycontinentsample["Net primary school enrolment ratio female (%)"].mean()
femalemeanbycontinentsample

Continent
1    89.333333
2    91.166667
3    69.900000
4    98.000000
5    84.000000
6    93.500000
7    96.000000
Name: Net primary school enrolment ratio female (%), dtype: float64

In [57]:
femalemeanbycontinent = bycontinent["Net primary school enrolment ratio female (%)"].mean()
femalemeanbycontinent

Continent
1    85.789474
2    92.911111
3    67.574468
4    95.000000
5    89.137931
6    89.040000
7    85.444444
Name: Net primary school enrolment ratio female (%), dtype: float64

In [ ]:
4) Calcula la cantidad de ayuda recibida por cada municipio en función del númeto total de habitantes. (v2)

In [112]:
# V2. Con necesidad de agrupar
##Esto es el profe haciendo las dataframes
import pandas as pd
import random

random.seed(0)

nombres = [f'Municipio{i}' for i in range(1, 11)]

data_municipios = {
    'Nombre': nombres,
    'Código Postal': [random.randint(10000, 99999) for _ in range(10)],
    'Población': [random.randint(1000, 50000) for _ in range(10)]  # Añadimos un atributo aleatorio, en este caso "Población"
}

df_municipios = pd.DataFrame(data_municipios)


data_ayudas = {
    'Nombre': [random.choice(nombres) for _ in range(20)],
    'Ayuda Económica (en euros)': [random.randint(1000, 10000) for _ in range(20)],
    'Número de Beneficiarios': [random.randint(10, 100) for _ in range(20)]
}

df_ayudas = pd.DataFrame(data_ayudas)

print("Dataframe de Municipios:")
print(df_municipios)

print("\nDataframe de Ayudas:")
print(df_ayudas)

##empieza lo mio


muniayudas = pd.merge(df_municipios,df_ayudas,how="left")
print(muniayudas)
muniayudasgb = muniayudas.groupby("Nombre")[["Ayuda Económica (en euros)","Población"]].sum()

muniayudasgb["ayuda en funcion de poblacion"] = muniayudasgb["Ayuda Económica (en euros)"]/muniayudasgb["Población"]
print(muniayudasgb)

Dataframe de Municipios:
        Nombre  Código Postal  Población
0   Municipio1          60494      39232
1   Municipio2          65125      15315
2   Municipio3          15306      34075
3   Municipio4          43936      10127
4   Municipio5          77013      19470
5   Municipio6          73691      10158
6   Municipio7          63075       7214
7   Municipio8          49755      41525
8   Municipio9          72468      17417
9  Municipio10          56930      35902

Dataframe de Ayudas:
         Nombre  Ayuda Económica (en euros)  Número de Beneficiarios
0   Municipio10                        9989                       72
1    Municipio3                        1230                       23
2    Municipio5                        2528                       48
3    Municipio2                        7534                       80
4    Municipio2                        1018                       47
5    Municipio6                        9086                      100
6    Municipio8                        6458                       25
7    Municipio9                        4996                       80
8    Municipio2                        6328                       52
9    Municipio6                        2031                       79
10   Municipio7                        4130                       36
11   Municipio6                        4632                       87
12  Municipio10                        4909                       80
13   Municipio4                        3334                       85
14   Municipio9                        9896                       46
15   Municipio8                        8339                       66
16   Municipio8                        2494                       21
17   Municipio9                        2318                       86
18   Municipio5                        6243                       59
19   Municipio1                        9322                       50
         Nombre  Código Postal  Población  Ayuda Económica (en euros)  \
0    Municipio1          60494      39232                        9322
1    Municipio2          65125      15315                        7534
2    Municipio2          65125      15315                        1018
3    Municipio2          65125      15315                        6328
4    Municipio3          15306      34075                        1230
5    Municipio4          43936      10127                        3334
6    Municipio5          77013      19470                        2528
7    Municipio5          77013      19470                        6243
8    Municipio6          73691      10158                        9086
9    Municipio6          73691      10158                        2031
10   Municipio6          73691      10158                        4632
11   Municipio7          63075       7214                        4130
12   Municipio8          49755      41525                        6458
13   Municipio8          49755      41525                        8339
14   Municipio8          49755      41525                        2494
15   Municipio9          72468      17417                        4996
16   Municipio9          72468      17417                        9896
17   Municipio9          72468      17417                        2318
18  Municipio10          56930      35902                        9989
19  Municipio10          56930      35902                        4909

    Número de Beneficiarios
0                        50
1                        80
2                        47
3                        52
4                        23
5                        85
6                        48
7                        59
8                       100
9                        79
10                       87
11                       36
12                       25
13                       66
14                       21
15                       80
16                       46
17                       86
18                       72
19                       80
             Ayuda Económica (en euros)  Población  \
Nombre
Municipio1                         9322      39232
Municipio10                       14898      71804
Municipio2                        14880      45945
Municipio3                         1230      34075
Municipio4                         3334      10127
Municipio5                         8771      38940
Municipio6                        15749      30474
Municipio7                         4130       7214
Municipio8                        17291     124575
Municipio9                        17210      52251

             ayuda en funcion de poblacion
Nombre
Municipio1                        0.237612
Municipio10                       0.207481
Municipio2                        0.323865
Municipio3                        0.036097
Municipio4                        0.329219
Municipio5                        0.225244
Municipio6                        0.516801
Municipio7                        0.572498
Municipio8                        0.138800
Municipio9                        0.329372

5) Agrupa los datos por el nombre de de la escuela. - ¿Qué escuela tiene más infantes? - ¿Qué escuela tiene los infantes más altos?

In [227]:
data = {
    'school': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']
}

df = pd.DataFrame(data, index=['S1', 'S2', 'S3', 'S4','S5','S6'])
print(df)

#aqui empieza lo mio
dfgb = df.groupby("school")
a = dfgb["name"].count().reset_index()
print(a)
escuelaconmasninyosindice = a["name"].argmax() #argmax saca el indice del valor maximo
escuelaconmasninyosindice
escuelaconmasninyos=a["school"][escuelaconmasninyosindice]
print("La escuela con mas ninyos es "+escuelaconmasninyos)

b = dfgb["height"].mean().reset_index()
print(b)
escuelaconmasalturaindice = b["height"].argmax()
escuelaconmasaltura = b["school"][escuelaconmasalturaindice]
print("La escuela con los ninyos mas altos es "+escuelaconmasaltura)

   school class            name date_Of_Birth  age  height  weight  address
S1   s001     V  Alberto Franco    15/05/2002   12     173      35  street1
S2   s002     V    Gino Mcneill    17/05/2002   12     192      32  street2
S3   s003    VI     Ryan Parkes    16/02/1999   13     186      33  street3
S4   s001    VI    Eesha Hinton    25/09/1998   13     167      30  street1
S5   s002     V    Gino Mcneill    11/05/2002   14     151      31  street2
S6   s004    VI    David Parkes    15/09/1997   12     159      32  street4
  school  name
0   s001     2
1   s002     2
2   s003     1
3   s004     1
La escuela con mas ninyos es s001
  school  height
0   s001   170.0
1   s002   171.5
2   s003   186.0
3   s004   159.0
La escuela con los ninyos mas altos es s003